{include file="admin/topo.html"}
<!-- Conteúdo -->
    <form name="frm_cadastro" method="POST" enctype="multipart/form-data">
	    <input type="hidden" name="acao" value="gravar" />
	    <input type="hidden" name="id" value="{$dados[0].id}" />
        <input type="hidden" name="extencoeValidas" value="jpg|jpeg|gif|png|pdf">

	    <h1 class="titulo-pag">Publicação</h1>

	    <label>*Tipo da Publicação:</label>
	    <select name="tipo">
	    	<option>Seleciona um tipo</option>
    		<option {if $dados[0].idTipo == "1"}selected{/if} value="1">Informativo</option>
    		<option {if $dados[0].idTipo == "2"}selected{/if} value="2">Artigos</option>
    		<option {if $dados[0].idTipo == "3"}selected{/if} value="3">Instruções</option>
    		<option {if $dados[0].idTipo == "4"}selected{/if} value="4">Palestras</option>
	    </select>

	    <label>*Titulo :</label>
	    <input type="text" name="titulo" value="{$dados[0].titulo}" />

	    <!-- <label>*Titulo Inglês:</label>
	    <input type="text" name="titulo_I" value="{$dados[0].titulo_I}" /> -->

	    <label>*Numero Publicação:</label>
	    <input type="text" name="numPub" value="{$dados[0].numPubclicacao}" />

	    <!-- <label>*Numero Publicação Inglês:</label>
	    <input type="text" name="numPub_I" value="{$dados[0].numPubclicacao_I}" /> -->
	    
	    <label>Por:</label>
	    <input type="text" name="por" size="50" value="{$dados[0].por}" />

	    <label>*Data:</label>
	    <input type="date" name="data" value="{if $dados[0].data}{$dados[0].data_formatada}{else}{$dataAtual}{/if}" />

	    <label>Texto:</label>
	    <textarea name="texto">{$dados[0].texto}</textarea>

	    <!-- <label>*Texto Inglês:</label>
	    <textarea name="texto_I">{$dados[0].texto_I}</textarea> -->
	 	
	 	<label>Tags (Separar por virgula):</label>
	    <input type="text" name="tag" value="{$dados[0].tag}" />

	   <!--  <label>*Tags Inglês (Separar por virgula):</label>
	    <input type="text" name="tag_I" value="{$dados[0].tag_I}" /> -->

	    <label>*Categoria:</label>
	    <select name="categoria">
	    	<option>Seleciona uma categoria</option>
	    	{section name=i loop=$dadosCategoria}
	    		<option value="{$dadosCategoria[i].id}" {if $dados[0].idCategoria  == $dadosCategoria[i].id} selected{/if}>{$dadosCategoria[i].nomeCategoria}</option>
	    	{/section}
	    </select>

	 	<input name="submit" type="submit" class="btn-form top-btn" value="{$botao}" onclick="return checaPub();" /><br>
	    <label class="no-top">* Campos obrigatórios.</label>
    </form>
<!-- FIM Conteúdo -->
{literal}
<script>
	tinymce.init({
	    selector: "textarea",
	    plugins: 'link'
	 });
</script>
{/literal}
{include file="admin/rodape.html"}