{include file="admin/topo.html"}
	<!-- Conteúdo -->
	<div class="container">
		<form class="form-ver">

			<h1 class="titulo-pag">Publicação</h1>

			<label><strong>Tipo:</strong></label>
			<input type="text" disabled value="{$dados[0].tipo}">	

			<label><strong>Titulo:</strong></label>
			<input type="text" disabled value="{$dados[0].titulo}">	

			<!-- <label><strong>*Titulo Inglês:</strong></label>
			<input type="text" disabled value="{$dados[0].titulo_I}"> -->	

			<label><strong>Numero Publicação:</strong></label>
			<input type="text" disabled value="{$dados[0].numPubclicacao}">	

			<!-- <label><strong>*Numero Publicação Inglês:</strong></label>
			<input type="text" disabled value="{$dados[0].numPubclicacao_I}">	 -->

			<label><strong>Por:</strong></label>
			<input type="text" disabled value="{$dados[0].por}">	

			<label><strong>Data:</strong></label>
			<input type="text" disabled value="{$dados[0].data}">	

			<label><strong>Texto:</strong></label>
			<textarea disabled>{$dados[0].textoSemTag}</textarea>

			<!-- <label><strong>*Texto Inglês:</strong></label>
			<textarea disabled>{$dados[0].textoSemTag_I}</textarea> -->

			<label><strong>Tags:</strong></label>
			<input type="text" disabled value="{$dados[0].tag}">	

			<!-- <label><strong>*Tags Inglês:</strong></label>
			<input type="text" disabled value="{$dados[0].tag_I}"> -->	

			<label>Categoria:</label>
			<input type="text" disabled value="{$dados[0].nomeCategoria}">

			{if $dados[0].caminhoImagem}
				<label><strong>Imagem:</strong></label>
				<img src="{$dados[0].caminhoImagem}" width="250" border="0">
			{/if}
			
			{if $dados[0].caminhoImagemThumb}
				<label><strong>Imagem Thumb:</strong></label>	
				<img src="{$dados[0].caminhoImagemThumb}" style="max-width: 200px;" border="0">
			{/if}

			<br>
			<br>
			<a href="adm_publicacoes.php?acao=pesquisar" class="btn-form" ><< voltar</a>
		</form>
	</div>
	<!-- FIM Conteúdo -->
{include file="admin/rodape.html"}