<!DOCTYPE HTML>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="description" content="" />
        <link href="{$URL}commom/img/icon-tab.png" rel="icon">
        {include file="../inc/cssUrlAmigavel.html"}
        <link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
        <title>Tae Segurança</title>
        <!-- Bootstrap -->
        <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
         <!-- vitrine -->
            <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.carousel.css">
            <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.theme.css">
            <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.transitions.css">
        <!-- vitrine -->
    </head>
    <body itemscopeitemtype="http://schema.org/WebPage">
    {include file="../inc/header.html"}
    <!-- Inicio Banner -->
    <article class="col-xs-12 col-sm-12 col-md-12">
        
    </article> 
    <!-- Fim Banner -->
    <div class="vitrine-index bg-servico-interna">
        <div class="width-default">
            <p class="titulo-banner-interna">Serviços de segurança</p>
            <div class="bloco-breadcrumb">
                <div class="bg-bloco-breadcrumb"></div>
                <ul class="ul-breadcrumb" itemprop="breadcrumb"> 
                    <li class="linha-breadcrumb">Você está em:</li>
                    <li class="linha-breadcrumb"><a href="{$URL}" class="link-breadcrumb">Home</a></li>
                    <li class="linha-breadcrumb"><a href="{$URL}servicos" class="link-breadcrumb">• Serviços</a></li>
                    <li class="linha-breadcrumb linha-breadcrumb-ativo">• Serviços de Segurança</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="width-default">
            <div class="row">
                <h1 class="titulo-destaque">Serviços de segurança</h1>
                <div class="max-width-title"><span class="linha-titulo-cinza"></span><span class="linha-titulo-laranja"></span></div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-2 col-md-2 pd-lf-none"></div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="bloco-atributos">
                        <div class="row pd-tp-30 bloco-servicos-seguranca">
                            <div class="col-xs-12 col-sm-4 col-md-4 pd-none">
                                <div class="row config-bloco-servico">
                                    <div class="img-veja-tbm pull-left">
                                        <a href="{$URL}escolta-armada">
                                            <img class="" src="{$URL}commom/img/veja-tambem.jpg" alt="Escolta armada">
                                        </a>
                                    </div>
                                    <h2 class="titulo-veja-tbm pull-left"><a href="{$URL}escolta-armada">Escolta armada</a></h2>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 pd-none">
                                <div class="row config-bloco-servico">
                                    <div class="img-veja-tbm pull-left">
                                        <a href="{$URL}escolta-armada">
                                            <img class="" src="{$URL}commom/img/veja-tambem.jpg" alt="Escolta armada">
                                        </a>
                                    </div>
                                    <h2 class="titulo-veja-tbm pull-left"><a href="{$URL}escolta-armada">Escolta armada</a></h2>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 pd-none">
                                <div class="row config-bloco-servico">
                                    <div class="img-veja-tbm pull-left">
                                        <a href="{$URL}escolta-armada">
                                            <img class="" src="{$URL}commom/img/veja-tambem.jpg" alt="Escolta armada">
                                        </a>
                                    </div>
                                    <h2 class="titulo-veja-tbm pull-left"><a href="{$URL}escolta-armada">Escolta armada</a></h2>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 pd-none">
                                <div class="row config-bloco-servico">
                                    <div class="img-veja-tbm pull-left">
                                        <a href="{$URL}escolta-armada">
                                            <img class="" src="{$URL}commom/img/veja-tambem.jpg" alt="Escolta armada">
                                        </a>
                                    </div>
                                    <h2 class="titulo-veja-tbm pull-left"><a href="{$URL}escolta-armada">Escolta armada</a></h2>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 pd-none">
                                <div class="row config-bloco-servico">
                                    <div class="img-veja-tbm pull-left">
                                        <a href="{$URL}escolta-armada">
                                            <img class="" src="{$URL}commom/img/veja-tambem.jpg" alt="Escolta armada">
                                        </a>
                                    </div>
                                    <h2 class="titulo-veja-tbm pull-left"><a href="{$URL}escolta-armada">Escolta armada</a></h2>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 pd-none">
                                <div class="row config-bloco-servico">
                                    <div class="img-veja-tbm pull-left">
                                        <a href="{$URL}escolta-armada">
                                            <img class="" src="{$URL}commom/img/veja-tambem.jpg" alt="Escolta armada">
                                        </a>
                                    </div>
                                    <h2 class="titulo-veja-tbm pull-left"><a href="{$URL}escolta-armada">Escolta armada</a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Inicio  -->
            <div class="row">
               
            </div>
            <!-- Fim  -->
        </div>
    </section>
    {include file="../inc/footer.html"}    
</html>