{include file="admin/topo.html"}

{literal}
<script>

	function checa()
	{
		frm = document.frm_cadastro;
		msg = "Preencha o campo ";
		
		if(trim(frm.descricao.value) == "")
		{
			alert(msg + "Descrição!");
			frm.descricao.focus();
			return false;
		}
		
		return true;
	}

</script>
{/literal}

<!-- Conteúdo -->
<table width="100%" height="350" border="0" cellpadding="10" cellspacing="0">
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="90%" style="background-color:#FFFFFF" valign="top">
		<table width="100%" border="0">
      		<tr>
        	<td valign="top">{include file="admin/orcamento/menu.html"}</td>
        	<td>
				<table cellspacing="2" cellpadding="2" border="0" width="100%">
          			<form name="frm_cadastro" action="adm_historico.php" onsubmit="return checa()" method="POST">
            		<input type="hidden" name="acao" value="gravar" />
            		<input type="hidden" name="idOrcamento" value="{$idOrcamento}" />
            		<tr>
                    	<td colspan="2" class="texto"><strong>OR&Ccedil;AMENTOS - HIST&Oacute;RICO - CADASTRO</strong></td>
                    </tr>
                    <tr>
              			<td align="right" nowrap="nowrap" class="texto"><strong>PEDIDO:</strong></td>
              			<td class="texto">{$idOrcamento}</td>
            		</tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td colspan="6" class="texto">Descreva abaixo o texto de hist&oacute; relacionado ao pedido acima. </td>
                    </tr>
                    <tr>
                      <td>&nbsp;</td>
                      <td colspan="6"><textarea name="descricao" cols="75" rows="7" class="formu"></textarea></td>
                    </tr>
            		<tr>
              			<td></td>
              			<td class="texto">
                        	<input type="submit" class="botao" value="Cadastrar" /> &nbsp;&nbsp;
                            <input type="button" class="botao" value="Cancelar" onClick="history.back();" />
                        </td>
            		</tr>
          			</form>
        		</table>
			</td>
     	 </tr>
    </table>
	
	</td>
    <td width="5%">&nbsp;</td>
  </tr>
</table>
<!-- FIM Conteúdo -->

{include file="admin/rodape.html"}