{include file="admin/topo.html"}

{literal}
<script>

	function checa()
	{
		frm = document.frm_cadastro;
		msg = "Preencha o campo ";
		
		if(trim(frm.nome.value) == "")
		{
			alert(msg + "Nome!");
			frm.nome.focus();
			return false;
		}
		
		if(trim(frm.email.value) == "")
		{
			alert(msg + "E-mail!");
			frm.email.focus();
			return false;
		}
		
		if(!email(frm.email, 'E-mail inválido!'))
			return false;
		
		if(trim(frm.senha.value) == "")
		{
			alert(msg + "Senha!");
			frm.senha.focus();
			return false;
		}
		
		if(trim(frm.senha2.value) == "")
		{
			alert(msg + "Repetir Senha!");
			frm.senha2.focus();
			return false;
		}
		
		if(trim(frm.senha.value) != trim(frm.senha2.value))
		{
			alert("As senhas estão diferentes!");
			return false;
		}
		
		if( frm.perfil.selectedIndex == 0 )
		{
			alert("Selecione o perfil!");
			frm.perfil.focus();
			return false;
		}
		
		if( frm.status.selectedIndex == 0 )
		{
			alert("Selecione o status!");
			frm.status.focus();
			return false;
		}
		
		return true;
	}

</script>
{/literal}

<!-- Conteúdo -->
<table width="100%" height="350" border="0" cellpadding="10" cellspacing="0">
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="90%" style="background-color:#FFFFFF" valign="top">
		<table width="100%" border="0">
      		<tr>
        	<td valign="top" width="10%">{include file="admin/usuario/menu.html"}</td>
        	<td>
				<table cellspacing="0" cellpadding="0" border="0" width="93%" align="right">
     				<tr>
     					<td class="texto" height="30"><strong>USU&Aacute;RIOS DO SISTEMA</strong></td>
     				</tr>
					<tr>
     					<td>
        					<table cellspacing="2" cellpadding="5" border="0" width="100%">
         						<tr style="background-color:#D5DDE3" height="20">
         							<td class="texto"><strong>Nome</strong></td>
       					     		<td class="texto" width="10%" nowrap="nowrap"><strong>Data e Hora - Cadastro</strong></td>
            						<td class="texto" width="10%"><strong>Op&ccedil;&otilde;es</strong></td>
        						</tr>
         						{section name=i loop=$dados}
         						<tr>
         							<td class="texto">{$dados[i].usu_nome}</td>
            						<td class="texto" nowrap="nowrap">{$dados[i].dtFormat}</td>
            						<td class="texto" nowrap="nowrap">{if $idLogado == 1}< <a href="?acao=editar&id={$dados[i].usu_id}">editar</a> > | < <a href="#" onclick="exclui({$dados[i].usu_id})">excluir</a> >{/if}</td>
				         		</tr>
         						{/section}
        					</table>
        				</td>
     				</tr>
    			</table>
			</td>
 		</tr>
  </table>
	
	</td>
    <td width="5%">&nbsp;</td>
  </tr>
</table>
<!-- FIM Conteúdo -->

{include file="admin/rodape.html"}