<!DOCTYPE HTML>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index, follow">
        <meta name="description" content="" />
        <link href="{$URL}commom/img/icon-tab.png" rel="icon">
        {include file="../inc/cssUrlAmigavel.html"}
        <link rel="stylesheet" type="text/css" href="{$URL}commom/css/estilo.css">
        <title>Tae Segurança</title>
        <!-- Bootstrap -->
        <link href="{$URL}commom/css/bootstrap.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
            <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
         <!-- vitrine -->
            <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.carousel.css">
            <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.theme.css">
            <link rel="stylesheet" type="text/css" href="{$URL}commom/css/vitrine/owl.transitions.css">
        <!-- vitrine -->
    </head>
    <body itemscopeitemtype="http://schema.org/WebPage">
    {include file="../inc/header.html"}
    <!-- Inicio Banner -->
    <article class="col-xs-12 col-sm-12 col-md-12">
        
    </article> 
    <!-- Fim Banner -->
    <div class="vitrine-index bg-servico-interna">
        <div class="width-default">
            <p class="titulo-banner-interna">
                quem somos
            </p>
            {include file="../inc/breadcrumb.html"}
        </div>
    </div>
    <section class="container">
        <div class="width-default">
            <div class="col-xs-12 col-sm-3 col-md-3 pd-lf-none">
                {include file="../inc/menu-lateral-quemsomos.html"}
            </div>
            <div class="col-xs-12 col-sm-8 col-md-8">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 pd-lf-none">
                        <h1 class="titulo-destaque">institucional</h1>
                        <div class="max-width-title"><span class="linha-titulo-cinza"></span><span class="linha-titulo-laranja"></span></div>
                    </div>
                </div>
                <div class="row bloco-atributos bloco-servico">
                    <div class="row">
                        <div class="block-center">
                            <img class="pd-bt-20" src="{$URL}commom/img/institucional.jpg" alt="institucional" title="institucional">
                        </div>
                    </div>
                    <!-- <p class="txt-default"> -->
                    <h2 class="titulo-destaque 2">O Grupo TAE é uma das empresas líderes no ramo de terceirização de serviços.</h2>
                    <p class="txt-default">
                        Atuamos de forma eficaz, oferecendo serviços de alta qualidade através de mão-de-obra treinada e capacitada, como: Portaria, Zeladoria, Controlador de acesso, recepcionista, auxiliar de serviços gerais, Auxiliar de Limpeza, Copeira, Atendente, Auxiliar de manutenção, Operador de CFTV, Bombeiros civil, entre outros.<br><br>
                        Nossa metodologia de trabalho é moldada e direcionada de acordo com as necessidades de nossos clientes.
                    </p>
                    <h2 class="titulo-destaque 2">APRESENTAMOS COMO DIFERENCIAIS AO MERCADO:</h2>
                    <blockquote class="blockquote-conteudo">
                    <li>Profissionais altamente experientes e graduados.</li>
                    <li>Equipes com cursos especializados de Segurança nos níveis de diretoria, gerência e supervisores.</li>
                    <li>Departamento de RH altamente capacitado garantindo a contratação de profissionais aptos aos serviços.</li>
                    <li>Estrutura própria para gerenciamento das equipes de trabalho.</li>
                    <li>Centro de treinamento.</li>
                    <li>Investimento em equipamentos e tecnologias de última geração.</li>
                    </blockquote>
                    <h2 class="titulo-destaque 2">MISSÃO:</h2>
                    <p class="txt-default">
                        Temos como um de nossos principais objetivos a tranqüilidade dos nossos clientes, que podem contar com uma empresa especializada em zelar pelo patrimônio de grandes corporações e condomínios, oferecendo todo o suporte necessário para superar as expectativas, buscando a sua completa satisfação com os serviços contratados.                    
                    </p>
                </div>
            </div>
        </div>
    </section>
    {include file="../inc/footer.html"}    
</html>