{include file="admin/topo.html"}

{literal}
<script>

	function checa()
	{
		frm = document.frm_cadastro;
		
		if(trim(frm.titulo.value) == "")
		{
			alert("Preencha o Título do e-mail!");
			frm.titulo.focus();
			return false;
		}
		
		return true;
	}

</script>
{/literal}

<!-- Conteúdo -->
<table width="100%" height="350" border="0" cellpadding="10" cellspacing="0">
  <tr>
    <td width="5%">&nbsp;</td>
    <td width="90%" style="background-color:#FFFFFF" valign="top">
		<table width="100%" border="0">
      		<tr>
        	<td valign="top">{include file="admin/newsletter/menu.html"}</td>
        	<td valign="top">
				<table cellspacing="2" cellpadding="2" border="0" width="100%">
            		<tr height="30">
              			<td align="right" width="20%">&nbsp;</td>
              			<td class="texto"><strong>ENVIA NEWSLETTER</strong></td>
            		</tr>
          			<form name="frm_cadastro" onSubmit="return checa()" method="POST">
            		<input type="hidden" name="acao" value="envia" />
                    <input type="hidden" name="idNewsletter" value="{$idNewsletter}" />
            		<tr>
              			<td align="right" width="20%" class="texto" nowrap="nowrap">E-mails extras:</td>
              			<td><input type="text" name="emails" size="50" class="formu" /></td>
            		</tr>
                    <tr>
              			<td align="right"></td>
              			<td class="texto" style="font-size: 7pt;" height="30" valign="top">E-mails separados por v&iacute;rgula (,)</td>
            		</tr>
                    
                    <tr>
              			<td align="right" width="20%" class="texto">*T&iacute;tulo:</td>
              			<td><input type="text" name="titulo" size="50" class="formu" /></td>
            		</tr>
                    <tr>
              			<td align="right"></td>
              			<td class="texto" style="font-size: 7pt;" height="30" valign="top">T&iacute;tulo do e-mail</td>
            		</tr>
                    
                    <tr>
              			<td align="right" width="20%" class="texto" valign="top">Grupo:</td>
              			<td class="texto">
                            {section name=i loop=$dadosGrupo}
                            	<input type="checkbox" name="grupo[]" value="{$dadosGrupo[i].id}" />{$dadosGrupo[i].titulo}<br>
                            {/section}
                        </td>
            		</tr>
            		<tr>
              			<td></td>
              			<td class="texto">
                        	<input name="submit" type="submit" class="botao" value="Envia" />
                        </td>
            		</tr>
          			</form>
        		</table>
			</td>
     	 </tr>
    </table>
	
	</td>
    <td width="5%">&nbsp;</td>
  </tr>
</table>
<!-- FIM Conteúdo -->

{include file="admin/rodape.html"}